/* Add this to your CSS file */
* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 500%;
    height: 100%;
    overflow: hidden;
  }
  
  .form-container1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 0px solid #fff;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(74, 72, 72, 0.75);
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  #homeform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #table-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    width: 100%;
    z-index: 1;
    top: 65%;
  }
  
  #hometable {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 60%;
    /* border: 0px solid #fff; */
    /* -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75); */
    /* background: rgba(0, 0, 0, 0.2); */
  }
  
  .container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  